#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    overflow: scroll;
}
.t3{
    font-size: 4rem;
    margin-bottom: 2rem;
    color: rgb(11, 11, 11)
}
.project img{
    height: inherit;
    width: inherit;
    object-fit: contain;
    max-height: inherit;
    max-width: inherit;
}
.project{
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    height: 18rem;
    width: 18rem;
    display: flex;
    margin: 0 2rem;
    margin-top: 2rem;
}
.project .over{
    height: 100%;
    width: 100%;
    background: rgba(29, 35, 58, 0.811);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2rem;
    transform: translateY(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.over i{
    font-size: 2rem;
}
.project:hover .over{
    transform:none;
    transition: 1s ;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 1rem;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 5rem;
}
